* {
  box-sizing: border-box;
}

.mainContainer {
  position: relative;
  margin-top: 10px;
  width: 100%;
}

.searchContainer {
  box-shadow: #0000;
  position: relative;
  width: 100%;
}

.inputWrapper {
  border-radius: 0.5rem;
  padding: 9px;
  font-size: 11px;
  background: #f9fafb;
  color: #9ca3af;
  border: 1px solid #d1d5db;
  width: 100%;
  outline: none;
}

.inputWrapper:disabled {
  background: transparent;
  opacity: 0.6;
  cursor: not-allowed;
}

.listContainer {
  position: absolute;
  top: 100%;
  left: 0;
  z-index: 10;
  width: 100%;
  border-width: 1px #d1d5db;
  border-radius: 0.5rem;
  box-shadow: #0000;
  overflow-y: auto;
  font-size: 0.875rem;
  line-height: 1.25rem;
  color: black;
  max-height: 10rem;
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.listBox {
  display: flex;
  align-items: center;
  padding: 0.5rem;
  border-radius: 0.25rem;
  position: relative;
}

.listBox:hover {
  background: #ecedef;
}

.listInput {
  width: 1rem;
  height: 1rem;
  padding: 0.5rem;
  background-color: #f3f4f6;
  border-color: #d1d5db;
  border-radius: 0.25rem;
}

.listInput:focus {
  outline: 2px solid #3b82f6;
}

.listInputLabel {
  width: 100%;
  margin-inline-start: 0.5rem;
  font-size: 0.875rem;
  line-height: 1.25rem;
  font-weight: 500;
  color: #111827;
  border-radius: 0.25rem;
  text-transform: capitalize;
}

.__clearSelection {
  position: absolute;
  right: 8px;
  top: 8px;
  padding-left: 3px;
}

._package_select_container {
  position: relative;
}

._dynamic_container {
  background: white;
  border: 1px solid gray;
  width: 100%;
  height: 35px;
  max-height: 35px;
  border-radius: 0.5rem;
  display: flex;
  align-items: center;
  padding: 4px 10px 4px 10px;
  overflow-x: auto;
  white-space: nowrap;
}

._dynamic_search_container {
  top: 10px;
  width: 100%;
}

._dynamic_search_input {
  width: 100%;
  background: #f9fafb;
  padding: 7px 7px;
  border-radius: 0.5rem;
  border: 1px solid #d1d5db;
  box-sizing: border-box;
}

._select_placeholder_text {
  color: black;
  font-size: 11px;
  align-items: center;
  display: flex;
  flex-wrap: wrap;
}

._slot_content {
  display: flex;
  flex-wrap: wrap;
}

._dynamic_list_container {
  list-style-type: none;
  top: 100%;
  position: absolute;
  left: 0;
  width: 100%;
  margin: 0;
  padding: 10px;
  font-size: 0.875rem;
  line-height: 1.25rem;
  max-height: 10rem;
  border-width: 1px #d1d5db;
  border-radius: 0.5rem;
  overflow-y: auto;
}

._dynamic_list {
  cursor: pointer;
  display: flex;
  padding-top: 13px;
}

._dynamic_list_value {
  margin-left: 10px;
  display: flex;
}

._dynamic_checkmark_img {
  margin-top: 2px;
  margin-left: 8px;
}

._dynamic_list:hover {
  background: #ecedef;
}

._dynamic_search_list_container {
  padding: 5px;
  border-radius: 0.5rem;
  cursor: pointer;
  display: flex;
  width: 100%;
}

.dynamic_search_input_container {
  margin-right: 3px;
}

._dyamic_prefix_image_src {
  height: 20px;
  width: 20px;
  border-radius: 9999px;
}

._list_prefix_container {
  margin-right: 5px;
}

.dynamic-list-group {
  padding: 0;
  margin: 0;
  list-style-type: none;
}

.dynamic-list-group ._dynamic_list {
  margin: 0;
}

.list-enter-active,
.list-leave-active {
  transition:
    opacity 0.5s,
    transform 0.5s;
}
.list-enter-from,
.list-leave-to {
  opacity: 0;
  transform: translateY(10px);
}

.disabled-dropdown {
  background: transparent;
  opacity: 0.6;
  cursor: not-allowed;
}

.disabled-dropdown {
  background: transparent;
  opacity: 0.6;
  cursor: not-allowed;
}
